name: Bot Clima

on:
  schedule:
    - cron: '0 * * * *' # Se ejecuta cada hora en punto
  workflow_dispatch: # Te deja probarlo manual con un botón

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: pip install requests

      - name: Ejecutar Bot
        run: python bot.py
